<!-- templates/account/password_change.html -->
{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Change Password" %} |ShelterTree{% endblock %}

{% block content %}
<div class="container mt-4 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">{% trans "Change Password" %}</h1>
                    <form method="post" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid">
                            <button type="submit" name="action" class="btn btn-primary btn-lg">{% trans "Change Password" %}</button>
                        </div>
                    </form>
                    <a class="d-block text-center mt-3" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}