// 1. Import your custom variables. This MUST come first.
@import "variables";

// 2. Import the full Bootstrap library.
@import "../vendor/bootstrap/scss/bootstrap";

// --- NEW: Import Custom Components ---
// @import "components/navbar";
@import "pages/auths";
@import "components/buttons";
@import "components/forms";
@import "pages/home";
@import "components/header";
@import "pages/feature_pages";
@import "pages/profile";
@import "components/onboarding";
@import "components/status_pages";
@import "pages/contributions";
@import "components/links";
@import "pages/success";
@import "pages/add-property";
@import "pages/review-composer";
@import "pages/property-gallery";
@import "pages/property-detail";
@import "components/review-card";
@import "pages/about";
@import "pages/errors";
// @import "components/live_search";
// @import "components/logo";

/* // 3. (Optional) Add any other custom site-wide styles here later.
body {
  background-color: $light; // Use your new theme color
} */


// --- NEW: Layout Styles ---
body {
  background-color: #f0f2f5; // A very light, neutral gray background
  color: $dark;
}

.card {
  // Apply our theme's box-shadow to all cards
  box-shadow: $box-shadow-sm;
  border: 1px solid $border-color; // Use our theme's border color
}
