#.env


SECRET_KEY=''

# for development environment, keep true, else false.
DEBUG=True 

# --- Core Django Settings ---
# This tells Docker/Django to use your development-specific settings file.
DJANGO_SETTINGS_MODULE=sheltertree_project.settings.development

# false allows emails to appear on the terminal. True calls email provider API
SKIP_APPROVAL_EMAIL_SEND=False
SKIP_REVIEW_EMAIL_SEND=False

POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
DATABASE_HOST=""



#Map secret keys
GOOGLE_MAPS_API_KEY=''
MAPBOX_ACCESS_TOKEN=''
MAPBOX_ACCESS_TOKEN_2=''

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# # Twilio Credentials
SMS_VENDOR = 'TWILIO'
TWILIO_ACCOUNT_SID=''
# TWILIO_ACCOUNT_SID=''
TWILIO_AUTH_TOKEN=''
TWILIO_SMS_FROM_NUMBER=''
TWILIO_WHATSAPP_FROM_NUMBER = ''



## Zepto mail credentials
# --- Email Backend Configuration ---
EMAIL_HOST=smtp.zeptomail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=""
DEFAULT_FROM_EMAIL=""



# # Get this from your AfricasTalking Dashboard -> API Key
# SMS_VENDOR=AFRICASTALKING
# AFRICASTALKING_API_KEY=''
# AFRICASTALKING_USERNAME=''
# AFRICASTALKING_SENDER_ID=''
# AFRICASTALKING_WHATSAPP_NUMBER=''


UID=xxx
GID=xxx

# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_STORAGE_BUCKET_NAME=
# AWS_S3_REGION_NAME=