# .gitignore
.env
.env.dev
env/
db.sqlite3
__pycache__/
*.pyc
helper.py
helper.md
motivation.md

# Frontend Dependencies
/node_modules/

# --- ADD THIS LINE ---
# Manually-managed vendor libraries
/static/vendor/

/future/
future.md