{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">
        {# PREVIOUS PAGE LINK #}
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{{ page_param }}={{ page_obj.previous_page_number }}{{ other_page_params }}#{{ tab_id }}" aria-label="Previous">&laquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a></li>
        {% endif %}

        {# PAGE NUMBER LINKS #}
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ i }}</a></li>
            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?{{ page_param }}={{ i }}{{ other_page_params }}#{{ tab_id }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {# NEXT PAGE LINK #}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{{ page_param }}={{ page_obj.next_page_number }}{{ other_page_params }}#{{ tab_id }}" aria-label="Next">&raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}