.auth-layout {
  min-height: 80vh; // Ensure it takes up most of the screen
}

.auth--branding-side {
  background-image: linear-gradient(rgba($primary, 0.3), rgba($dark, 0.7)), url('/static/img/auth_background.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center; // Center the content vertically
  padding: 3rem;
}

.auth-form-side {
  display: flex;
  align-items: center; // Center the form vertically
  padding: 3rem;
}